@import "../node_modules/materialize-css/sass/materialize"
@import "../node_modules/material-design-lite/src/card/card"
@import "colors"

body
    background-color: $grey
    overflow: hidden

.center-btn
    text-align: center


