@import "base"

main
    height: 100%
    overflow: hidden

//#split-1
//    background-color: white
//
#split-2
    position: relative

//#kek-row
//    position: absolute
//    top: 0
//    left: 0

.full-height
    height: 100vh

.half-height
    height: 50vh

