@import "../../../colors"

#first-section
	background: url("../../../assets/img/code.jpg")
	background-size: cover

#title-container
	height: 100%
	width: 100%
	position: absolute
	top: 0
	left: 0
	background: rgba(0,0,0,0.7)

#contents
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

#last-section
	padding-bottom: 0
	position: relative

#last-section footer
	bottom: -1vh
	position: relative
	position: absolute
	width: 100%
	bottom: 0

footer.page-footer
	margin-top: 20px
	padding-top: 0px
	padding-bottom: 10px
