<div id="first-section" class="section">
	<section id="main-section" class="active valign-wrapper" data-anchor="firstPage">
		<div class="container valign">
			<div id="title-container">
				<div id="contents">
					<div class="row">
						<div class="col s12">
							<h1 class="center-align white-text">Snippet Sniper</h1>
							<h5 class="center-align white-text">Display your <span class="typed-text"></span></h5>
						</div>
					</div>
					<div class="row">
						<div class="center-btn">
							<a [routerLink]="['/login']" class="waves-effect waves-light btn">Login</a>
							<a [routerLink]="['/sign-up']" class="waves-effect waves-light btn">Sign up</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div id="second-section" class="section" data-anchor="secondPage">
	<section id="carousel-section">
		<div class="carousel carousel-slider center" data-indicators="true">
			<div class="carousel-fixed-item center">
				<a class="btn waves-effect white grey-text darken-text-2">button</a>
			</div>
			<div class="carousel-item red white-text" href="#one!">
				<h2>First Panel</h2>
				<p class="white-text">This is your first panel</p>
			</div>
			<div class="carousel-item amber white-text" href="#two!">
				<h2>Second Panel</h2>
				<p class="white-text">This is your second panel</p>
			</div>
			<div class="carousel-item green white-text" href="#three!">
				<h2>Third Panel</h2>
				<p class="white-text">This is your third panel</p>
			</div>
			<div class="carousel-item blue white-text" href="#four!">
				<h2>Fourth Panel</h2>
				<p class="white-text">This is your fourth panel</p>
			</div>
		</div>
	</section>
</div>
<div class="section nav-section" data-anchor="thirdPage">
	<!-- le language icons  -->
	<div class="container">
		<div class="col s12 m6">
			<div class="row">
				<h3 class="white-text center-align">Supported languages</h3>
				<div class="cards-list-wrapper">


				  <div class="col s12 m12 l12 valign">

				      <div class="col s6 m3 l3 valign center-svg">
				        <div class="container-img z-depth-4" id="html">
				          <img src="http://svgporn.com/logos/html-5.svg" alt="HTML" class="svg-icon">
				        </div>
				      </div>

				      <div class="col s6 m3 l3 valign center-svg">
				        <div class="container-img z-depth-4" id="css3">
				          <img src="http://svgporn.com/logos/css-3.svg" alt="HTML" class="svg-icon" >
				        </div>
				      </div>

				      <div class="col s6 m3 l3 valign center-svg">
				        <div class="container-img z-depth-4" id="javascript">
				          <img src="http://svgporn.com/logos/javascript.svg" alt="HTML" class="svg-icon" >
				        </div>
				      </div>

				      <div class="col s6 m3 l3 valign center-svg">
				        <div class="container-img z-depth-4" id="php">
				          <img src="http://svgporn.com/logos/php.svg" alt="HTML" class="svg-icon" >
				        </div>
				      </div>

							<div class="col s6 m3 l3 valign center-svg">
				        <div class="container-img">
				          <img src="http://svgporn.com/logos/html-5.svg" alt="HTML" class="svg-icon">
				        </div>
				      </div>

				      <div class="col s6 m3 l3 valign center-svg">
				        <div class="container-img">
				          <img src="http://svgporn.com/logos/html-5.svg" alt="HTML" class="svg-icon">
				        </div>
				      </div>

				      <div class="col s6 m3 l3 valign center-svg">
				        <div class="container-img">
				          <img src="http://svgporn.com/logos/html-5.svg" alt="HTML" class="svg-icon">
				        </div>
				      </div>

				      <div class="col s6 m3 l3 valign center-svg">
				        <div class="container-img">
				          <img src="http://svgporn.com/logos/html-5.svg" alt="HTML" class="svg-icon">
				        </div>
				      </div>

				</div>


				</div>
			</div>
		</div>
		<div class="container center">
			<h4 class="white-text">And many more!</h4>
			<a href="#">Check all the languages we support</a>
		</div>
	</div>
</div>
<div id="last-section" class="section nav-section" data-anchor="fourthPage">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="section-title">
					<h3 class="white-text center">Contact us</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col offset-s2 s8">
				<div class="section-content">
					<form action="/login" method="post" class="card card-form">
						<input type="hidden" name="next" value="{{ next }}"/>
						<div class="card-content">
							<div class="input-field col s12">
								<input type="text" name="name" id="name"/>
								<label for="name">Name:</label>
							</div>
							<div class="input-field col s12">
								<input type="text" name="email" id="email"/>
								<label for="email">Email:</label>
							</div>
							<div class="input-field col s12">
								<textarea id="textarea1" class="materialize-textarea"></textarea>
								<label for="textarea1">Comment:</label>
							</div>

							<button type="submit" class="btn waves-effect waves-dark cyan darken-3"
											id="btnSubmitForm">Submit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer class="page-footer grey darken-4">
		<div class="footer-copyright">
			<div class="container">
				© 2016 Snippet Sniper by Samuel Murillo
				<!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
			</div>
		</div>
	</footer>
</div>
