<div id="floating-nav" class="right-align">
	<a [routerLink]="['/login']" class="waves-effect waves-light btn hide-on-small-only fixed-size-btn">Login</a>
	<a [routerLink]="['/sign-up']" class="waves-effect waves-light btn hide-on-small-only fixed-size-btn">Sign up</a>
	<!-- mobile buttons -->
	<a [routerLink]="['/login']" class="btn-floating btn-large waves-effect waves-light
																			teal hide-on-med-and-up floating-icons-container">
		<i class="material-icons floating-icons-mobile">person</i>
	</a>
	<a [routerLink]="['/sign-up']" class="btn-floating btn-large waves-effect waves-light
																				teal hide-on-med-and-up floating-icons-container">
		<i class="material-icons floating-icons-mobile">add</i>
	</a>
</div>
