<app-nav>
  <div class="row">
    <div class="col s12">

      <!--Mobile tabs bar-->
      <ul class="tabs tabs-fixed-width grey darken-3">

        <!--My Snippets -->
        <li class="tab col s3">
          <a class="waves-effect waves-light active" href="#tab1"><i class="material-icons">list</i></a>
        </li>

        <!--Snippets shared with me-->
        <li class="tab col s3">
          <a class="waves-effect waves-light" href="#tab2"><i class="material-icons">share</i></a>
        </li>

        <!--My account-->
        <li class="tab col s3">
          <a class="waves-effect waves-light" href="#tab3"><i class="material-icons">person</i></a>
        </li>

        <!--Admin panel-->
        <li *ngIf="admin == 1" class="tab col s3">
          <a class="waves-effect waves-light" href="#tab4"><i class="material-icons">lock</i></a>
        </li>
      </ul>
    </div>
  </div>
</app-nav>

<div id="profile-container" class="container">

  <!--My Snippets tab-->
  <div id="tab1" class="col s12">
    <div class="row">
      <div class="section-title">
        <h4 class="white-text center">My snippets</h4>
      </div>
      <app-my-snippets></app-my-snippets>
    </div>
  </div>

  <!--Snippets shared with me tab-->
  <div id="tab2" class="col s12">
    <div class="row">
      <div class="section-title">
        <h4 class="white-text center">Shared with me</h4>
      </div>
      <app-shared-with-me [authUser]="authUser"></app-shared-with-me>
    </div>
  </div>

  <!--My account tab-->
  <div id="tab3" class="col s12">
    <div class="section-title">
      <h4 class="white-text center">My account</h4>
    </div>
    <app-my-account></app-my-account>
  </div>

  <!--Admin panel-->
  <div *ngIf="admin == 1" id="tab4" class="col s12">
    <div class="row">
      <div class="section-title">
        <h4 class="white-text center">Admin panel</h4>
      </div>
      <app-admin-panel></app-admin-panel>
    </div>
  </div>

</div>

<app-footer></app-footer>
