<!--Profile picture-->
<div class="row">
  <div class="col s12">
    <div class="card">
      <div id="profile-card" class="card-content">
        <span class="card-title">Profile picture</span>
        <div class="row">
          <div class="col s12 m8 profile-text">
            <p>
              This will be the picture that others users will see when you upload a snippet. <br>
              <small class="hide-on-small-only">The file size is 1Mb maximum.</small>
            </p>
            <div class="progress hide-on-small-only">
              <div class="determinate" [style.width]="progress + '%'"></div>
            </div>
          </div>
          <div class="col s12 m4 center">
            <div class="profile-img-container">
              <label for="file-input">
                <img id="profile-picture" class="responsive-img" [src]="profilePicture">
                <a><i class="material-icons">camera_alt</i></a>
              </label>
              <input id="file-input" type="file" accept="image/*"
                     ngFileSelect
                     [options]="options"
                     [events]="events"
                     (beforeUpload)="beforeUpload($event)"
                     (onPreviewData)="handlePreviewData($event)"
                     (onUpload)="handleUpload($event)">
            </div>
          </div>
          <div class="col s12 profile-text hide-on-med-and-up">
            <p>
              <small>The file size is 1Mb maximum.</small>
            </p>
            <div class="progress">
              <div class="determinate" [style.width]="progress + '%'"></div>
            </div>
          </div>
        </div>
        <!--<div class="row">-->
        <!--<button [disabled]="!profilePictureChanged" (click)="submitProfilePicture()"-->
        <!--class="center-btn btn waves-effect waves-dark right">-->
        <!--Change profile picture-->
        <!--</button>-->
        <!--</div>-->
        <!--<div class="row">Response: {{ response | json }}</div>-->

      </div>
    </div>
  </div>

  <form #profileForm="ngForm" (ngSubmit)="onSubmitUpdateProfileForm(profileForm)" enctype="multipart/form-data">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Profile information</span>
          <div class="input-field col s12">
            <input [(ngModel)]="name" (keyup)="profileInformationFormUpdated($event)"
                   type="text" name="name" id="name" placeholder=" " required/>
            <label for="name">Name: </label>
          </div>
          <div class="input-field col s12">
            <input [(ngModel)]="last_name" (keyup)="profileInformationFormUpdated($event)"
                   type="text" name="last_name" id="last_name" placeholder=" " required/>
            <label for="last_name">Last name: </label>
          </div>
          <div class="input-field col s12">
            <input [(ngModel)]="email" (keyup)="profileInformationFormUpdated($event)" id="email"
                   type="email" name="email" class="validate" placeholder=" " required/>
            <label for="email" data-error="Invalid email" data-success="">Email: </label>
          </div>
          <div class="row">
            <div class="col s1">
              <app-busy-loader [isActive]="profileLoading"></app-busy-loader>
            </div>
            <button [disabled]="!updateInformationEnabled || profileForm.invalid || profileLoading"
                    type="submit" class="center-btn btn waves-effect waves-dark right">
              Update information
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form #passwordForm="ngForm" (ngSubmit)="onSubmitChangePassword(passwordForm)">

    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Change password</span>
          <div class="input-field col s12">
            <input ngModel id="old-password" name="old_password"
                   type="password" required>
            <label for="old-password">Old Password:</label>
          </div>
          <div class="input-field col s12">
            <input [(ngModel)]="password" (keyup)="passwordFormUpdated($event)" id="password" name="new_password"
                   type="password" required>
            <label for="password">New Password:</label>
          </div>
          <div class="input-field col s12">
            <input [(ngModel)]="password_rpt" (keyup)="passwordFormUpdated($event)"
                   [class.invalid]="!changePasswordEnabled && passwordForm.touched"
                   [class.valid]="changePasswordEnabled && passwordForm.touched" id="password_rpt" type="password"
                   name="password_rpt" required>
            <label for="password_rpt" data-error="Passwords don't match" data-success="">New Password
              (again):</label>
          </div>
          <div class="row">
            <div class="col s1">
              <app-busy-loader [isActive]="passwordLoading"></app-busy-loader>
            </div>

            <button [disabled]="!changePasswordEnabled || !passwordForm.valid || passwordLoading"
                    class="center-btn btn waves-effect waves-dark right">
              Change password
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
