<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="section-title">
        <h4 class="white-text center">Public snippets</h4>
        <p class="description">Here is the list of public snippets created from our random users.</p>
      </div>
    </div>
  </div>
  <div class="container-list">
    <app-snippets-list
      [snippetList]="snippets"
      [loading]="loading"
      [bigLoading]="true"
      [emptyMessage]="'No public snippets. That\'s odd...'">
    </app-snippets-list>
  </div>
</div>
<app-footer></app-footer>
