.container-list
    margin: 0 auto 30px auto
    background: #333
    padding-bottom: 30px

#snippets-header
    padding: 10px
    background: #181818

.snippet-owner img
    width: 50px
    height: 50px
    border-radius: 50%
    vertical-align: middle
    margin: 0

.snippet-owner p
    margin: 5px 0 0 0
    text-decoration: underline

.snippet-title h5
    text-decoration: underline

.description
    color: #b7b7b7
    text-align: center
    max-width: 300px
    margin: 0 auto
    font-size: 0.91em
