html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    /*padding-bottom: 6rem;*/
    min-height: 100%;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #26a69a !important;
}

.select-wrapper input.select-dropdown, .caret {
    color: white !important;
}

.ace-monokai .ace_gutter {
    background: #111 !important;
}
