<app-nav></app-nav>

<div id="snippet-container" class="row section-title">
	<div class="input-field col s12 m6 l6">
		<input [(ngModel)]="title" type="text" id="snippet-title" class="white-text" name="snippet-title"/>
		<label for="snippet-title">Snippet title:</label>
	</div>
	<div class="input-field col s12 m6 l6">
		<select materialize="material_select" [(ngModel)]="selectedLanguage"
						(ngModelChange)="changeEditorLanguage($event)"
						class="icons">
			<option *ngFor="let l of languages" [value]="l.name" [attr.data-icon]="l.icon">{{l.text}}</option>
		</select>
		<label>Select a language</label>
	</div>
</div>

<div (window:resize)="onResize()" id="editor-container" class="container">
	<div class="row">
		<div class="col s12">
			<ace-editor #editor [text]="text" id="editor"></ace-editor>
		</div>
	</div>
</div>

<div id="fragments-modal" class="modal modal-fixed-footer" materialize="modal"
		 [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
	<div class="modal-content">
		<div id="sortable">
			<h4>Added snippet fragments</h4>
			<div class="row">
				<div class="col s12">
					<div class="panel panel-success">
						<div class="panel-body">
							<ul *ngIf="fragments.length > 0" dnd-sortable-container [sortableData]="fragments">
								<li *ngFor="let item of fragments; let i = index">
									<span>{{item.language}}</span>
									<span (click)="openFragment(i)" class="right" style="cursor: pointer;"><i class="material-icons">mode_edit</i></span>
									<span dnd-sortable [sortableIndex]="i" class="right" style="cursor: move;"><i class="material-icons">swap_vert</i></span>
								</li>
							</ul>
							<span *ngIf="fragments.length === 0">No fragments!</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a (click)="closeModal()"
			 class="modal-action modal-close waves-effect waves-green btn">Close</a>
	</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large">
		<i class="large material-icons">mode_edit</i>
	</a>
	<ul>
		<li>
			<a (click)="addFragment()" class="tooltipped btn-floating green" data-position="left"
				 data-delay="50" data-tooltip="Add fragment">
				<i class="material-icons">add</i></a>
		</li>
		<li>
			<a (click)="openModal()" class="tooltipped btn-floating blue modal-trigger"
				 data-position="left" data-delay="50" data-tooltip="Snippet list">
				<i class="material-icons">playlist_add_check</i></a></li>
		<li>
			<a (click)="submitSnippet()" class="tooltipped btn-floating red"
				 data-position="left" data-delay="50" data-tooltip="Submit">
				<i class="material-icons">send</i></a>
		</li>
	</ul>
</div>

<app-footer></app-footer>
