<app-nav></app-nav>

<div id="snippet-container" class="row section-title">
  <form #form="ngForm" (ngSubmit)="submitSnippet(form)">
    <div class="input-field col s12 m6 l8">
      <input ngModel type="text" id="snippet-title" class="white-text" name="snippet_title"/>
      <label for="snippet-title">Snippet title:</label>
    </div>
    <div class="input-field col s12 m6 l4">
      <select #fragment_select ngModel (change)="changeEditorLanguage($event.target.value)"
              materialize="material_select" name="language_select" class="icons">
        <option *ngFor="let l of languages"
                [value]="l.editorLanguage"
                [attr.data-icon]="l.icon">{{l.language}}
        </option>
      </select>
      <label>Select a language</label>
    </div>


    <!-- Submit modal-->
    <div id="submit-modal" class="modal modal-fixed-footer" materialize="modal"
         [materializeParams]="[{dismissible: true}]" [materializeActions]="submitModal">

      <div class="modal-content">
        <h4 class="center-align">Save and <span>share</span> your snippets.</h4>

        <div id="share-actions" class="center">
          <div id="radios" class="radio-icons">
            <label for="public" id="pub">
              <input (click)="shared = 'public'" id="public" class="with-gap" type="radio" name="a" value="public"
                     [checked]="shared ===  'public'"/>
              <span><i class="material-icons">public</i></span>
            </label>
            <label for="closed" id="clo">
              <input (click)="shared = 'closed'" id="closed" class="with-gap" type="radio" name="a" value="closed"/>
              <span><i class="material-icons">group</i></span>
            </label>
            <label for="private" id="priv">
              <input (click)="shared = 'private'" id="private" class="with-gap" type="radio" name="a" value="private"/>
              <span><i class="material-icons">person</i></span>
            </label>
          </div>
        </div>

        <div class="share-fragment" *ngIf="shared === 'closed'">
          <div class="row">
            <div class="col s12">
              <p class="title center-align">Closed</p>
              <p class="info center-align">With this option you can share your snippet only with users you know.
                Please enter the user e-mail.</p>
              <div id="share-input" class="input-field inline">
                <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
                       id="email" type="email">
                <label for="email">Email</label>
              </div>
              <a (click)="addUser()" class="btn waves-effect waves-light">Add</a>
            </div>
          </div>
          <div class="allowed_users">
            <div *ngFor="let user of allowed_users; let i = index;" class="chip">
              <img *ngIf="user.picture.url" src="{{url + user.picture.url}}"/>
              <img *ngIf="!user.picture.url" src="assets/img/generic_profile.png"/>
              {{ user.email }}
              <i (click)="removeFromAllowedUsers(i)" class="close material-icons">close</i>
            </div>
          </div>
        </div>

        <div class="share-fragment" *ngIf="shared === 'public'">
          <div class="row">
            <div class="col s12">
              <p class="title center-align">Public</p>
              <p class="info center-align">This option allows you to share your snippets with everyone.</p>
            </div>
          </div>
        </div>

        <div class="share-fragment" *ngIf="shared === 'private'">
          <div class="row">
            <div class="col s12">
              <p class="title center-align">Private</p>
              <p class="info center-align">Only you can view this snippet, it will be hidden
                from everyone.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">

        <button id="submit-btn" class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
        <a (click)="closeModal()" class="modal-action modal-close waves-effect waves-green btn">
          Close
        </a>
      </div>
    </div>
  </form>
</div>

<!--Editor-->
<div (window:resize)="onResize()" id="editor-container" class="container">
  <div class="row">
    <div class="col s12">
      <ace-editor #editor [text]="text" id="editor"></ace-editor>
    </div>
  </div>
</div>

<!--Fragments Modal-->
<div id="fragments-modal" class="modal modal-fixed-footer" materialize="modal"
     [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <div id="sortable">
      <h4 class="center-align">Added snippet fragments</h4>
      <div class="row">
        <div class="col s12">
          <span *ngIf="fragments.length === 0">No fragments!</span>
          <ul *ngIf="fragments.length > 0" [dragula]='"fragments-list"' [dragulaModel]='fragments'>
            <li class="fragments" *ngFor="let item of fragments; let i = index;">
              <div>
                <h5 class="left-align">{{item.language}}</h5>
                <span class="right-align fragment-options">
										<a class="btn-floating btn waves-effect waves-light green draggable"><i
                      class="material-icons fragment-icons">swap_vert</i></a>
										<a (click)="openFragment(i)" class="btn-floating btn waves-effect waves-light orange lighten-1"><i
                      class="material-icons fragment-icons">mode_edit</i></a>
										<a (click)="fragments.splice(i, 1)" class="btn-floating btn waves-effect waves-light red"><i
                      class="material-icons fragment-icons">clear</i></a>
									</span>
                <span class="truncate fragment-code">{{item.body}}</span>
              </div>
              <div class="divider"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a (click)="closeModal()"
       class="modal-action modal-close waves-effect waves-green btn">Close</a>
  </div>
</div>

<!--Floating buttons-->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li>
      <a (click)="addFragment()" class="tooltipped btn-floating green" data-position="left"
         data-delay="50" data-tooltip="Add fragment">
        <i class="material-icons">add</i></a>
    </li>
    <li>
      <a (click)="openFragmentListModal()" class="tooltipped btn-floating blue modal-trigger"
         data-position="left" data-delay="50" data-tooltip="Snippet list">
        <i class="material-icons">playlist_add_check</i></a></li>
    <li>
      <a (click)="openSubmitModal()" class="tooltipped btn-floating red"
         data-position="left" data-delay="50" data-tooltip="Submit">
        <i class="material-icons">send</i></a>
    </li>
  </ul>
</div>

<app-footer></app-footer>
