<nav id="nav" class="grey darken-3" [class.nav-extended]="addTabs()">
  <div class="container nav-wrapper">
    <a [routerLink]="['/snippets']" class="brand-logo">Snippet Sniper</a>
    <a data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">

      <li *ngIf="!authUser" routerLinkActive="active">
        <a [routerLink]="['/login']"><i class="tiny material-icons left">person</i>Login</a>
      </li>
      <li *ngIf="!authUser" routerLinkActive="active">
        <a [routerLink]="['/sign-up']"><i class="tiny material-icons left">add</i>Sign up</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/snippets']"><i class="tiny material-icons left">public</i>Public snippets</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/snippet/editor']">
          <i class="tiny material-icons left">playlist_add</i>Create snippet</a>
      </li>

      <li *ngIf="authUser">
        <a materialize="dropdown" class="dropdown-button" data-beloworigin="true" data-activates="userdropdown">
          <img *ngIf="authUser.picture.url" class="profile-img" src="{{url + authUser.picture.url}}"/>
          <img *ngIf="!authUser.picture.url" class="profile-img" src="assets/img/generic_profile.png"/>
          {{ authUser.name }}<i id="dropdownIcon" class="material-icons right">arrow_drop_down</i></a>
        <ul id="userdropdown" class="dropdown-content">
          <li><a [routerLink]="['/profile']">Profile</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </li>

    </ul>
    <ul id="slide-out" class="side-nav">
      <li>
        <div *ngIf="authUser" class="userView">
          <div class="background grey darken-4">
            <!--<img src="http://materializecss.com/images/office.jpg">-->
          </div>
          <img class="circle" src="{{url + authUser.picture.url}}">
          <h5 class="white-text">{{ authUser.name }} {{ authUser.last_name }}</h5>
          <!--<br>-->
          <!--<span class="white-text email">{{ authUser.email }}</span>-->
        </div>
      </li>
      <li *ngIf="!authUser" routerLinkActive="active">
        <a [routerLink]="['/login']"><i class="tiny material-icons">person</i>Login</a>
      </li>
      <li *ngIf="!authUser" routerLinkActive="active">
        <a [routerLink]="['/sign-up']"><i class="tiny material-icons">add</i>Sign up</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/snippets']"><i class="material-icons">public</i>Public snippets</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/snippet/editor']"><i class="material-icons">playlist_add</i>Create snippet</a>
      </li>
      <li *ngIf="authUser">
        <div class="divider"></div>
      </li>
      <li *ngIf="authUser">
        <a [routerLink]="['/profile']"><i class="material-icons">person</i>Profile</a>
      </li>
      <li *ngIf="authUser">
        <a (click)="logout()"><i class="material-icons">exit_to_app</i>Logout</a>
      </li>
    </ul>
    <ng-content></ng-content>
  </div>
</nav>
