<nav class="grey darken-3">
	<div class="nav-wrapper container">
		<a [routerLink]="['/']" class="brand-logo">Snipper Sniper</a>
		<a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li routerLinkActive="active"><a [routerLink]="['/login']">
				<i class="tiny material-icons right">person</i>Login</a></li>
			<li routerLinkActive="active"><a [routerLink]="['/sign-up']">
				<i class="tiny material-icons right">add</i>Sign up</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li routerLinkActive="active"><a [routerLink]="['/login']">Login</a></li>
			<li routerLinkActive="active"><a [routerLink]="['/sign-up']">Sign up</a></li>
		</ul>
	</div>
</nav>
