pre
    border-radius: 5px !important
    background: #444 !important

pre code
    text-shadow: 0 1px #0b0b0b !important

small
    font-size: 0.5em

.snippet-owner img
    width: 50px
    height: 50px
    border-radius: 50%
    vertical-align: middle
    margin: 0 0 5px 5px

.snippet-owner span
    margin-left: 5px
    text-decoration: underline

.created
    font-size: 0.7em
    line-height: 1.4

.options a
    cursor: pointer

.modal-footer .btn
    margin-left: 5px


