<app-nav></app-nav>
<div class="container">
	<div class="row snippet">
		<h3 class="snippet-title white-text"> Test
			<small>
				<a href="#" class="snippet-owner white-text">Author: Samuel Murillo</a>
				<div class="created">Created on: 11/11/16</div>
			</small>
		</h3>
		<div class="markdown white-text">
			<h1>Markdown test</h1>
		</div>
		<pre class="line-numbers">
			<code class="language-python">
def foo:
    print('Hello World')
			</code>
		</pre>
		<pre class="line-numbers">
			<code class="language-ruby">
 def my_new_method
    p "So Impressive!"
 end
			</code>
		</pre>
	</div>
	<div class="progress">
		<div class="determinate" style="width: 100%"></div>
	</div>
	<div class="row snippet">
		<h3 class="snippet-title white-text"> Test
			<small>
				<a href="#" class="snippet-owner white-text">Author: Samuel Murillo</a>
				<div class="created">Created on: 11/11/16</div>
			</small>
		</h3>
		<div class="markdown white-text">
			<h1>Markdown test</h1>
		</div>
		<pre class="line-numbers">
			<code class="language-python">
def foo:
    print('Hello World')
			</code>
		</pre>
		<pre class="line-numbers">
			<code class="language-ruby">
 def my_new_method
    p "So Impressive!"
 end
			</code>
		</pre>
	</div>
</div>
<app-footer></app-footer>
