<footer class="page-footer grey darken-4">
	<div class="footer-copyright">
		<div class="container">
			© 2016 Snippet Sniper by Samuel Murillo
			<a class="white-text text-lighten-4 right footer-icons" href="https://github.com/SamuelM333"
				 target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a class="white-text text-lighten-4 right footer-icons" href="https://gitlab.com/samuelmurillo"
				 target="_blank"><i class="fa fa-gitlab"
														aria-hidden="true"></i></a>
		</div>
	</div>
</footer>
